<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="E-POST Helper"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.EPostHelper">
        <activity android:name=".ProfileEditActivity" android:exported="false" />
        <activity android:name=".AddressConfigActivity" android:exported="false" />
        <activity android:name=".AddressEditActivity" android:exported="false" />
        <activity android:name=".OutboxActivity" android:exported="false" />
        <activity android:name=".AdvancedPrintOptionsActivity" android:exported="true" android:permission="android.permission.START_PRINT_SERVICE_CONFIG_ACTIVITY" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <service
            android:name=".EPostPrintService"
            android:exported="true"
            android:permission="android.permission.BIND_PRINT_SERVICE">
            <intent-filter>
                <action android:name="android.printservice.PrintService" />
            </intent-filter>
            <meta-data android:name="android.printservice" android:resource="@xml/printservice" />
        </service>
    </application>
</manifest>
